.App {
    min-height: 100%;
    margin: 0;
    background-color: red;
}

.editor {
    background-color: rgb(29, 29, 29);
    color: rgb(201, 201, 201);
    min-width: 100%;
    min-height: 96%;
    position: absolute; /*position element relative to its parent */
    /* position: relative positions element based on its default pos */
}